Repository magic-script/magic-script-components-react-native, pull requests merged in 2019-12, with the labels that each got.

#333 Shorter log tags for android
  android/src/main/java/com/magicleap/magicscript/utils/Extensions.kt
Labels: android

#339 Feature/Forcing same items size for listview
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiListViewItemNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiListViewNode.kt
Labels: android

#340 Improve/Refactor
  android/src/main/java/com/magicleap/magicscript/scene/nodes/DialogNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/PageViewNode.kt
  android/src/main/java/com/magicleap/magicscript/utils/Extensions.kt
Labels: android

#337 Improve/audio node refactor
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/scene/nodes/audio/AudioFileProvider.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/audio/AudioNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/audio/UriAudioProvider.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/audio/AudioNodeTest.kt
Labels: android

#328 #256 - Provide implementation that allows registering multiple ARSCNViewDelegate (RCTARView).
  ios/Mockfile
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/bridge/ARView/RCTARView+Extension.swift
  ios/RNMagicScript/bridge/ARView/RCTARView.swift
  ios/RNMagicScript/bridge/ARView/RCTARViewObserving.swift
  ios/RNMagicScript/components/UiNodesManager.swift
  ios/RNMagicScript/components/Utils/WeakReference.swift
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptTests/sources/misc/Mock.generated.swift
  ios/RNMagicScriptTests/sources/specs/Utils/RCTARViewSpec.swift
Labels: iOS

#342 Bugfix/Icon color fix
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiImageNode.kt
Labels: android

#344 Plane detection
  android/src/main/java/com/magicleap/magicscript/ArViewManager.java
  android/src/main/java/com/magicleap/magicscript/scene/CustomArFragment.kt
  android/src/main/java/com/magicleap/magicscript/scene/NodesManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/UiNodesManager.kt
Labels: android

#345 Fix toggle group layout.
  ios/RNMagicScript/components/UiNodes/Layouts/GridLayout.swift
  ios/RNMagicScript/components/UiNodes/Toggle/UiToggleGroupNode.swift
Labels: iOS

#349 #348 - ListView scene flickers a lot.
  ios/RNMagicScript/components/UiNodes/UiListView/UiListViewItemNode.swift
Labels: bug, iOS

#352 Improve/Layouts improvements
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiListViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/UiLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/LayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/PageViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/UiGridLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/UiLinearLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/UiRectLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/GridLayoutManagerImpl.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/LinearLayoutManagerImpl.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/PageViewLayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/PageViewLayoutManagerImpl.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/RectLayoutManagerImpl.kt
  android/src/main/java/com/magicleap/magicscript/utils/PropertiesUtils.kt
  android/src/test/java/com/magicleap/magicscript/TestUtils.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiCircleConfirmationNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiListViewNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/PageViewNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/UIRectLayoutTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/UiGridLayoutTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/UiLinearLayoutTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/GridLayoutManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/LinearLayoutManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/PageViewManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/RectLayoutManagerTest.kt
Labels: android
