Repository magic-script/magic-script-components-react-native, pull requests merged in 2020-06, with the labels that each got.

#593 Fixed label in button
  android/src/main/java/com/magicleap/magicscript/scene/nodes/button/UiButtonNode.kt
Labels: Android

#594 Code Clean-up
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/components/BaseNodes/Prism/Prism.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/PrismSpec.swift
  ios/RNMagicScriptTests/sources/specs/NodesGestureHandlerSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/UiButtonNodeSpec.swift
Labels: enhancement, iOS

#595 New API alignment - UiVideoNode property name updated.
  android/src/main/java/com/magicleap/magicscript/scene/nodes/video/VideoNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/video/VideoPlayerImpl.kt
  ios/RNMagicScript/components/UiNodes/UiVideoNode.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/UiVideoNodeSpec.swift
Labels: Android, bug, iOS
