Repository magic-script/magic-script-components-react-native, pull requests merged in 2020-03, with the labels that each got.

#451 Implement [Button] [type, labelSide]
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiColorPickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTabNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/button/UiButtonNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/button/ZAxisAnimator.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/dropdown/UiDropdownListNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/picker/NativeFilePickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomButton.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiButtonNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiColorPickerNodeTest.kt
Labels: Android

#446 Feature/opaque property support for Image
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiImageNode.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiImageNodeTest.kt
Labels: Android

#453 Fixed button Z animation
  android/src/main/java/com/magicleap/magicscript/scene/nodes/button/UiButtonNode.kt
Labels: Android

#454 Include lodash package.
  package.json
Labels: react-native

#459 Feature/Multi prism on Android
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/ReactEventsManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/CameraObserver.kt
  android/src/main/java/com/magicleap/magicscript/scene/CustomArFragment.kt
  android/src/main/java/com/magicleap/magicscript/scene/NodesManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/ReactScene.kt
  android/src/main/java/com/magicleap/magicscript/scene/UiNodesManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/Prism.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiListViewItemNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiListViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiScrollViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/ReactNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/TransformContentNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/TransformNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/UiBaseLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/dropdown/DropdownItemsListNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/dropdown/UiDropdownListNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/UiRectLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/toggle/ToggleGroupNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/toggle/UiToggleNode.kt
  android/src/test/java/com/magicleap/magicscript/scene/ReactSceneTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/UiNodesManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/PrismTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/VideoNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/base/TransformNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/base/UiNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/UiLinearLayoutTest.kt
  components/platform/component-mapping.js
  components/platform/elements/builders/prism-builder.js
  components/platform/elements/builders/scene-builder.js
Labels: Android

#449 [WIP] #411 - Multi-Prism support iOS
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/bridge/ARComponentManager.m
  ios/RNMagicScript/bridge/ARView/RCTARView.swift
  ios/RNMagicScript/bridge/RCTConvert+Components.h
  ios/RNMagicScript/bridge/RCTConvert+Components.m
  ios/RNMagicScript/components/BaseNodes/BaseNode.swift
  ios/RNMagicScript/components/BaseNodes/Prism.swift
  ios/RNMagicScript/components/BaseNodes/Scene.swift
  ios/RNMagicScript/components/BaseNodes/TransformNode.swift
  ios/RNMagicScript/components/Gestures/GestureHandler.swift
  ios/RNMagicScript/components/Gestures/NodesGestureHandler.swift
  ios/RNMagicScript/components/Gestures/Recognizers/LongPressGestureRecognizer.swift
  ios/RNMagicScript/components/Gestures/Recognizers/TapGestureRecognizer.swift
  ios/RNMagicScript/components/NodesManager/NodesGestureHandler.swift
  ios/RNMagicScript/components/NodesManager/NodesManager+Extension.swift
  ios/RNMagicScript/components/NodesManager/NodesManager.swift
  ios/RNMagicScript/components/NodesManaging.swift
  ios/RNMagicScript/components/UiNodeSelector.swift
  ios/RNMagicScript/components/UiNodes/Group/GroupContainer.swift
  ios/RNMagicScript/components/UiNodes/Group/UiGroupNode.swift
  ios/RNMagicScript/components/UiNodes/Layouts/GridLayout.swift
  ios/RNMagicScript/components/UiNodes/Layouts/UiGridLayoutNode.swift
  ios/RNMagicScript/components/UiNodes/Layouts/UiLinearLayoutNode.swift
  ios/RNMagicScript/components/UiNodes/Layouts/UiRectLayoutNode.swift
  ios/RNMagicScript/components/UiNodes/Toggle/UiToggleGroupNode.swift
  ios/RNMagicScript/components/UiNodes/UiDropdownList/UiDropdownListNode.swift
  ios/RNMagicScript/components/UiNodes/UiLineNode.swift
  ios/RNMagicScript/components/UiNodes/UiListView/UiListViewItemNode.swift
  ios/RNMagicScript/components/UiNodes/UiListView/UiListViewNode.swift
  ios/RNMagicScript/components/UiNodes/UiPageView/UiPageViewNode.swift
  ios/RNMagicScript/components/UiNodes/UiScrollViewNode.swift
  ios/RNMagicScript/components/UiNodesManager.swift
  ios/RNMagicScript/components/Utils/Extensions/SCNNode+Enumerate.swift
  ios/RNMagicScript/components/Utils/Extensions/SCNVector3+Extension.swift
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptTests/sources/misc/Mock.generated.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/BaseNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/PrismSpec.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/SceneSpec.swift
  ios/RNMagicScriptTests/sources/specs/GestureHandlerSpec.swift
  ios/RNMagicScriptTests/sources/specs/Utils/NodesManagerSpec.swift
  ios/RNMagicScriptTests/sources/specs/Utils/RCTARViewSpec.swift
Labels: iOS, react-native

#458 Set min/max for UiSliderNode.
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomSlider.kt
  ios/RNMagicScript/components/UiNodes/UiSliderNode.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/UiSliderNodeSpec.swift
Labels: bug

#463 Android button drawing fix
  android/src/main/java/com/magicleap/magicscript/scene/nodes/button/UiButtonNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomButton.kt
Labels: Android

#468 Bugfix/Toggle clipping fix
  android/src/main/java/com/magicleap/magicscript/ar/clip/UiNodeColliderClipper.kt
Labels: Android

#470 [Button] fixed text center
  android/src/main/java/com/magicleap/magicscript/scene/nodes/button/UiButtonNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomButton.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiButtonNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/views/CustomButtonTest.kt
Labels: Android

#471 Fixed icon size on button (ColorPicker, DropdownList)
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiColorPickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/dropdown/UiDropdownListNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomButton.kt
Labels: Android

#477 Fixed color picker crash
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
Labels: Android

#479 Block possibility to open Date or Time Pickers multiple times
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiDatePickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTimePickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/UiDateTimePickerBaseNode.kt
Labels: Android

#476 Bugfix/Exception handling for Video
  android/src/main/java/com/magicleap/magicscript/scene/nodes/video/VideoNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/video/VideoPlayer.kt
Labels: Android

#473 [WIP] #319 - Icons in UiButtonNode (iOS).
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/components/Enums/ButtonType.swift
  ios/RNMagicScript/components/UiHelpers/Convert.swift
  ios/RNMagicScript/components/UiNodes/UiButtonNode.swift
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
Labels: enhancement

#486 Update Podfile & Podspec.
  ios/Podfile
  ios/RNMagicScript.podspec
Labels: bug, iOS

#491 Improve/Listeners update
  android/src/main/java/com/magicleap/magicscript/ar/ArResourcesManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/UiNodesManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiListViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiScrollViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/dropdown/DropdownItemsListNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomScrollView.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/dropdown/UiDropdownListItemNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/dropdown/UiDropdownListNodeTest.kt
Labels: Android

#490 Bugfix/Prism's parent reference fix
  android/src/main/java/com/magicleap/magicscript/scene/nodes/Prism.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/PrismTest.kt
Labels: Android, bug

#495 Bugfix/Detaching Prism's container on destroy
  android/src/main/java/com/magicleap/magicscript/scene/nodes/Prism.kt
  android/src/test/java/com/magicleap/magicscript/scene/ReactSceneTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/PrismTest.kt
Labels: Android

#493 Improve/Clipping when node actually transformed
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/TransformAwareNode.kt
  android/src/test/java/com/magicleap/magicscript/PropertiesBuilder.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/base/TransformNodeTest.kt
Labels: Android

#497 Bugfix/multiple fixes ios
  ios/RNMagicScript/components/Gestures/NodesGestureHandler.swift
  ios/RNMagicScript/components/NodesManager/NodesManager.swift
  ios/RNMagicScript/components/UiNodes/UiTextNode.swift
Labels: iOS

#501 Bugfix/Fixed rotated nodes alignment
  android/src/main/java/com/magicleap/magicscript/utils/Utils.kt
Labels: Android

#484 Updated year in Xcode's file template
  ios/RNMagicScript.xcodeproj/xcshareddata/IDETemplateMacros.plist
Labels: bug

#507 Feature/Prisms next steps
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/ArPackage.java
  android/src/main/java/com/magicleap/magicscript/ReactAppInfoProvider.kt
  android/src/main/java/com/magicleap/magicscript/ar/ArResourcesManager.kt
  android/src/main/java/com/magicleap/magicscript/ar/ArResourcesProvider.kt
  android/src/main/java/com/magicleap/magicscript/ar/CustomArFragment.kt
  android/src/main/java/com/magicleap/magicscript/ar/SimpleAnchorCreator.kt
  android/src/main/java/com/magicleap/magicscript/scene/ReactScene.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/Prism.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/TransformNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/AppInfoProvider.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/EmptySelectionVisualizer.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/ExtendedScaleController.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/Prism.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/PrismContentNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/PrismMenu.kt
  android/src/main/java/com/magicleap/magicscript/utils/PropertiesUtils.kt
  android/src/main/java/com/magicleap/magicscript/utils/SimpleAnimatorListener.kt
  android/src/test/java/com/magicleap/magicscript/ARComponentManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/TestAppInfoProvider.kt
  android/src/test/java/com/magicleap/magicscript/scene/ReactSceneTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/UiNodesManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/base/TransformNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/prism/PrismTest.kt
  android/src/test/java/com/magicleap/magicscript/utils/PropertiesUtilsTest.kt
Labels: Android

#516 Sceneform update to 1.15.0
  android/build.gradle
Labels: Android

#514 Enable GH Actions Cache for Android builds.
  .github/workflows/unitTestsAndroid-feature.yml
  .github/workflows/unitTestsAndroid-master.yml
Labels: enhancement
