Repository magic-script/magic-script-components-react-native, pull requests merged in 2020-02, with the labels that each got.

#410 PlaneDetector common interface.
  components/platform/native-plane-detector.js
  index.js
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/bridge/ARPlaneDetector.h
  ios/RNMagicScript/bridge/ARPlaneDetector.m
  ios/RNMagicScript/bridge/ARPlaneDetectorEvents.h
  ios/RNMagicScript/bridge/ARPlaneDetectorEvents.m
  ios/RNMagicScript/bridge/ARView/RCTARView+Extension.swift
  ios/RNMagicScript/bridge/ARView/RCTARView.swift
  ios/RNMagicScript/components/BaseNodes/TransformNode.swift
  ios/RNMagicScript/components/Gestures/Dragging.swift
  ios/RNMagicScript/components/Gestures/GestureHandler.swift
  ios/RNMagicScript/components/Gestures/Recognizers/DragGestureRecognizer.swift
  ios/RNMagicScript/components/Gestures/Recognizers/LongPressGestureRecognizer.swift
  ios/RNMagicScript/components/Gestures/Recognizers/TapGestureRecognizer.swift
  ios/RNMagicScript/components/NodesManaging.swift
  ios/RNMagicScript/components/UiHelpers/Convert.swift
  ios/RNMagicScript/components/UiNodeSelector.swift
  ios/RNMagicScript/components/UiNodesManager.swift
  ios/RNMagicScript/components/Utils/Extensions/ARPlaneAnchor+Extension.swift
  ios/RNMagicScript/components/Utils/Extensions/SCNMatrix4+Extension.swift
  ios/RNMagicScript/components/Utils/Extensions/SCNVector3+Extension.swift
  ios/RNMagicScript/components/Utils/Extensions/SCNVector4+Extension.swift
  ios/RNMagicScript/components/Utils/Extensions/SIMD+Extension.swift
  ios/RNMagicScript/components/Utils/PlaneDection/PlaneDetector.swift
  ios/RNMagicScript/components/Utils/PlaneDection/Surface.swift
  ios/RNMagicScript/components/Utils/PlaneDection/SurfaceNode.swift
  ios/RNMagicScriptHostApplication/resources/Info.plist
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptTests/sources/misc/Mock.generated.swift
  ios/RNMagicScriptTests/sources/specs/GestureHandlerSpec.swift
  ios/RNMagicScriptTests/sources/specs/Utils/PlaneDetector/PlaneDetectorSpec.swift
  ios/RNMagicScriptTests/sources/specs/Utils/PlaneDetector/SurfaceSpec.swift
  ios/RNMagicScriptTests/sources/specs/Utils/RCTARViewSpec.swift
Labels: enhancement

#434 Improvement/#432 rename props ios
  ios/RNMagicScript/components/UiNodes/UiAudioNode.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/UiAudioNodeSpec.swift
Labels: iOS

#437 Initial implementation.
  ios/RNMagicScript/bridge/ARComponentManager.m
Labels: bug, iOS

#440 Implement [Dialog] ButtonType property
  android/src/main/java/com/magicleap/magicscript/scene/nodes/DialogNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomAlertDialogBuilder.kt
Labels: Android

#436 Improve/Missing props for text and text edit
  android/src/main/java/com/magicleap/magicscript/font/FontParams.kt
  android/src/main/java/com/magicleap/magicscript/font/FontProvider.kt
  android/src/main/java/com/magicleap/magicscript/font/providers/AndroidFontProvider.kt
  android/src/main/java/com/magicleap/magicscript/font/providers/FontProviderImpl.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTextEditNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTextNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/dropdown/UiDropdownListItemNode.kt
  android/src/main/java/com/magicleap/magicscript/utils/PropertiesUtils.kt
  android/src/test/java/com/magicleap/magicscript/font/FontParamsTest.kt
  android/src/test/java/com/magicleap/magicscript/font/FontProviderImplTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiButtonNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiTextEditNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiTextNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/dropdown/UiDropdownListItemNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/dropdown/UiDropdownListNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/toggle/LinearToggleViewManagerTest.kt
  components/platform/platform-factory.js
Labels: Android

#438 Improve/Missing ScrollView and ListView props
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiListViewItemNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiListViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiScrollViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTextEditNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/PageViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/UiLinearLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/props/ItemAlignmentMap.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/props/ItemPaddingMap.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/props/ScrollBarVisibility.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomScrollView.kt
  android/src/main/java/com/magicleap/magicscript/utils/PropertiesUtils.kt
  android/src/main/res/layout/scroll_view.xml
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiListViewNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiScrollViewNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/views/CustomScrollBarTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/views/CustomScrollViewTest.kt
Labels: Android

#443 Implement [TimePicker][DatePicker] showHint property
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiDatePickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTimePickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/UiDateTimePickerBaseNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/video/GlobalMediaPlayerPool.kt
  android/src/main/java/com/magicleap/magicscript/utils/VerySimpleDateFormat.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiDatePickerNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiTimePickerNodeTest.kt
Labels: Android

#441 Implement [Button] default values
  android/src/main/java/com/magicleap/magicscript/scene/nodes/button/UiButtonNode.kt
Labels: Android

#444 Implement [DatePicker][TimePicker] showHint property
  ios/RNMagicScript/components/UiNodes/Pickers/UiDatePickerNode.swift
  ios/RNMagicScript/components/UiNodes/Pickers/UiTimePickerNode.swift
Labels: iOS
