Repository magic-script/magic-script-components-react-native, pull requests merged in 2020-04, with the labels that each got.

#520 [TimePicker] fixes
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTimePickerNode.kt
  android/src/main/java/com/magicleap/magicscript/utils/VerySimpleDateFormat.kt
Labels: Android

#522 Feature/#518 image fit
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/components/Enums/ImageFitMode.swift
  ios/RNMagicScript/components/UiHelpers/Convert.swift
  ios/RNMagicScript/components/UiNodes/UiImageNode.swift
  ios/RNMagicScriptTests/sources/specs/Enums/ImageFitModeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiHelpers/ConvertSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/UiImageNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/UiScrollViewNodeSpec.swift
Labels: iOS

#524 Dismiss all dialogs when app is reloaded.
  ios/RNMagicScript/components/NodesManager/NodesManager.swift
Labels: iOS

#525 Update param name for onTextChanged event.
  ios/RNMagicScript/bridge/AREventsManager.m
Labels: iOS

#526 Improve/Video node fix
  android/src/main/java/com/magicleap/magicscript/ReactEventsManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/video/VideoNode.kt
Labels: Android

#528 Feature/Image content modes
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiImageNode.kt
  android/src/main/res/layout/image.xml
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiImageNodeTest.kt
Labels: Android

#521 GH Action Cache enable.
  .github/workflows/unitTestsJavaScript-feature.yml
  .github/workflows/unitTestsJavaScript-master.yml
  .github/workflows/unitTestsiOS-feature.yml
  .github/workflows/unitTestsiOS-master.yml
Labels: enhancement

#530 Improve/refactor
  android/src/main/java/com/magicleap/magicscript/ArPackage.java
  android/src/main/java/com/magicleap/magicscript/ar/AnchorCreator.kt
  android/src/main/java/com/magicleap/magicscript/ar/SimpleAnchorCreator.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/CubeRenderableBuilder.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/CubeRenderableBuilderImpl.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/ModelRenderableLoader.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/ModelRenderableLoaderImpl.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/RenderableLoadRequest.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/VideoRenderableLoader.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/VideoRenderableLoaderImpl.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/ViewRenderableLoader.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/ViewRenderableLoaderImpl.kt
  android/src/main/java/com/magicleap/magicscript/scene/UiNodesManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/LineNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/ModelNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/UiNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/Prism.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/PrismContentNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/video/VideoNode.kt
  android/src/main/java/com/magicleap/magicscript/utils/DataResult.kt
  android/src/test/java/com/magicleap/magicscript/scene/UiNodesManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/prism/PrismTest.kt
Labels: Android

#534 Bugfix/Camera release fix
  android/src/main/java/com/magicleap/magicscript/ArViewManager.java
  android/src/main/java/com/magicleap/magicscript/FragmentContainer.kt
Labels: Android

#535 HitTest update (consider distance to hitPoint rather than to node center).
  ios/RNMagicScript/components/BaseNodes/BaseNode.swift
  ios/RNMagicScript/components/BaseNodes/Prism.swift
  ios/RNMagicScript/components/BaseNodes/Scene.swift
  ios/RNMagicScript/components/BaseNodes/TransformNode.swift
  ios/RNMagicScript/components/Gestures/Recognizers/LongPressGestureRecognizer.swift
  ios/RNMagicScript/components/Gestures/Recognizers/TapGestureRecognizer.swift
  ios/RNMagicScript/components/UiNodeSelector.swift
  ios/RNMagicScript/components/UiNodes/Group/GroupContainer.swift
  ios/RNMagicScript/components/UiNodes/Group/UiGroupNode.swift
  ios/RNMagicScript/components/UiNodes/Layouts/GridLayout.swift
  ios/RNMagicScript/components/UiNodes/Layouts/UiGridLayoutNode.swift
  ios/RNMagicScript/components/UiNodes/Layouts/UiLinearLayoutNode.swift
  ios/RNMagicScript/components/UiNodes/Layouts/UiRectLayoutNode.swift
  ios/RNMagicScript/components/UiNodes/Toggle/UiToggleGroupNode.swift
  ios/RNMagicScript/components/UiNodes/UiDropdownList/UiDropdownListNode.swift
  ios/RNMagicScript/components/UiNodes/UiLineNode.swift
  ios/RNMagicScript/components/UiNodes/UiListView/UiListViewItemNode.swift
  ios/RNMagicScript/components/UiNodes/UiListView/UiListViewNode.swift
  ios/RNMagicScript/components/UiNodes/UiPageView/UiPageViewNode.swift
  ios/RNMagicScript/components/UiNodes/UiScrollViewNode.swift
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptTests/sources/misc/Mock.generated.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/BaseNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/PrismSpec.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/SceneSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiHelpers/LongPressGestureRecognizerSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiHelpers/TapGestureRecognizerSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodeSelectorSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Dropdown/UiDropdownListNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Group/GroupContainerSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Group/UiGroupNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Layouts/GridLayoutSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Layouts/UiGridLayoutNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Layouts/UiLinearLayoutNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Layouts/UiRectLayoutNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/PageView/UiPageViewSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Toggle/UiToggleGroupNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/UiScrollViewNodeSpec.swift
Labels: bug

#536 Prisms Interactions in iOS
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/bridge/ARView/RCTARView.swift
  ios/RNMagicScript/components/BaseNodes/Prism/Prism+Intersection.swift
  ios/RNMagicScript/components/BaseNodes/Prism/Prism.swift
  ios/RNMagicScript/components/BaseNodes/Prism/PrismContextMenu.swift
  ios/RNMagicScript/components/BaseNodes/Prism/PrismInteractor.swift
  ios/RNMagicScript/components/BaseNodes/Scene.swift
  ios/RNMagicScript/components/NodesManager/NodesManager+Extension.swift
  ios/RNMagicScript/components/NodesManager/NodesManager.swift
  ios/RNMagicScript/components/Utils/Custom nodes/PrismOutlineNode.swift
  ios/RNMagicScript/components/Utils/Extensions/Collection+Extension.swift
  ios/RNMagicScript/components/Utils/Extensions/SCNNode+ClippingPlane.swift
  ios/RNMagicScript/components/Utils/Extensions/SCNNode+Orientation.swift
  ios/RNMagicScript/components/Utils/Extensions/SCNQuaternion+Extension.swift
  ios/RNMagicScript/components/Utils/Extensions/SCNVector3+Extension.swift
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptTests/sources/misc/Mock.generated.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/PrismContextMenuSpec.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/PrismInteractorSpec.swift
  ios/RNMagicScriptTests/sources/specs/Utils/Custom nodes/PrismOutlineNodeSpec.swift
Labels: enhancement

#548 Bugfix/Lifecycle fixes
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/ArFragmentContainer.kt
  android/src/main/java/com/magicleap/magicscript/ArPackage.java
  android/src/main/java/com/magicleap/magicscript/ArViewManager.java
  android/src/main/java/com/magicleap/magicscript/FragmentContainer.kt
  android/src/main/java/com/magicleap/magicscript/ar/ArResourcesManager.kt
  android/src/main/java/com/magicleap/magicscript/ar/ArResourcesProvider.kt
  android/src/main/java/com/magicleap/magicscript/ar/CustomArFragment.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/CubeRenderableBuilderImpl.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/ModelRenderableLoaderImpl.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/VideoRenderableLoaderImpl.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/ViewRenderableLoaderImpl.kt
  android/src/main/java/com/magicleap/magicscript/scene/UiNodesManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiScrollViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/UiBaseLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/UiNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/Prism.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/PrismMenu.kt
  android/src/test/java/com/magicleap/magicscript/ARComponentManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/ar/ArResourcesManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/prism/PrismTest.kt
Labels: Android

#549 React added as devDependencies to allow running tests.
  package.json
Labels: bug

#552 Feature/#544 Prism corner models and fixes
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/ReactAppInfoProvider.kt
  android/src/main/java/com/magicleap/magicscript/ar/CustomArFragment.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/CubeRenderableBuilder.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/CubeRenderableBuilderImpl.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/ModelRenderableLoader.kt
  android/src/main/java/com/magicleap/magicscript/ar/renderable/ModelRenderableLoaderImpl.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/AppInfoProvider.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/Prism.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/PrismContentNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/PrismMenu.kt
  android/src/main/res/raw/prism_corner.glb
  android/src/test/java/com/magicleap/magicscript/TestAppInfoProvider.kt
  android/src/test/java/com/magicleap/magicscript/TestUtils.kt
  android/src/test/java/com/magicleap/magicscript/scene/ReactSceneTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/UiNodesManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/prism/PrismContentNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/prism/PrismTest.kt
Labels: Android

#553 [Dialog] Fixes
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/ReactEventsManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiColorPickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/dialog/DialogNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/dialog/DialogType.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/ColorPickerDialog.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomAlertDialogBuilder.kt
  android/src/main/res/layout/dialog.xml
  android/src/test/java/com/magicleap/magicscript/ReactEventsManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/DialogNodeTest.kt
Labels: Android

#557 Bugfix/drawing overlays fix
  android/src/main/java/com/magicleap/magicscript/ArFragmentContainer.kt
  android/src/main/java/com/magicleap/magicscript/ar/CustomArFragment.kt
Labels: Android

#561 [Dialog] label fix
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomAlertDialogBuilder.kt
  android/src/main/res/layout/dialog.xml
Labels: Android

#559 VideoNode recreation fix
  android/src/main/java/com/magicleap/magicscript/ar/ArResourcesProvider.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/video/VideoNode.kt
  android/src/test/java/com/magicleap/magicscript/ar/ArResourcesManagerTest.kt
Labels: Android

#564 [Dialog] Solved visibility issues
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomAlertDialogBuilder.kt
Labels: Android

#565 Feature/onAppStart event support
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/EventsManager.kt
  android/src/main/java/com/magicleap/magicscript/ReactEventsManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/ReactScene.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiScrollViewNode.kt
  android/src/test/java/com/magicleap/magicscript/ARComponentManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/ReactEventsManagerTest.kt
  components/platform/platform-events.js
Labels: Android

#566 Fix after Android/Common changes.
  ios/RNMagicScript/bridge/AREventsManager.m
Labels: bug

#567 JSX unit tests updated.
  components/__tests__/platform-events.test.js
Labels: bug

#568 Missing negative button fix (ButtonType added).
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/components/Enums/DialogType.swift
  ios/RNMagicScript/components/UiHelpers/Convert.swift
  ios/RNMagicScript/components/UiNodes/UiDialog/DialogDataProviding.swift
  ios/RNMagicScript/components/UiNodes/UiDialog/UiDialogNode.swift
  ios/RNMagicScript/components/Utils/Dialog/DialogView.swift
  ios/RNMagicScript/components/Utils/Extensions/UIButton+Extension.swift
  ios/RNMagicScript/components/Utils/ImageAssets.swift
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptResources/Images.xcassets/components/dialog_background.imageset/Contents.json
  ios/RNMagicScriptResources/Images.xcassets/components/dialog_background.imageset/dialog_background.png
  ios/RNMagicScriptTests/sources/specs/UiNodes/Dialog/DialogFactorySpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Dialog/DialogPresenterSpec.swift
  ios/RNMagicScriptTests/sources/specs/Utils/NodesManagerSpec.swift
Labels: bug, iOS

#570 Improve/Click detection improvement
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/ViewWrapper.kt
Labels: Android

#572 [Dialog] Properly hide label
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomAlertDialogBuilder.kt
Labels: Android

#573 [Dialog] Properly hide label - release cp
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomAlertDialogBuilder.kt
Labels: Cherry-Pick

#571 Hotfix/Plane detection exception fix
  android/src/main/java/com/magicleap/magicscript/plane/ARPlaneDetectorBridge.kt
Labels: Android

#574 onAppStart event for iOS.
  ios/RNMagicScript/bridge/ARComponentManager.m
  ios/RNMagicScript/bridge/AREventsManager.h
  ios/RNMagicScript/bridge/AREventsManager.m
Labels: iOS

#576 Hotfix/Text wrapping fix
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTextNode.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiTextNodeTest.kt
Labels: Android

#577 Bugfix/deeplink bridge fix
  ios/RNMagicScript/bridge/ARComponentManager.m
Labels: iOS

#581 Hotfix/Dialog fixes
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/ArViewManager.java
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiColorPickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiDatePickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTimePickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/UiDateTimePickerBaseNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/dialog/DialogNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/DialogProvider.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/DialogProviderImpl.kt
  android/src/main/java/com/magicleap/magicscript/utils/ActivityProvider.kt
  android/src/main/java/com/magicleap/magicscript/utils/ArActivityProvider.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/DialogNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiColorPickerNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiDatePickerNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiTimePickerNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/base/UiDateTimePickerBaseNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/views/DialogProviderImplTest.kt
Labels: Android
