Repository magic-script/magic-script-components-react-native, pull requests merged in 2020-01, with the labels that each got.

#358 Bugfix/#357 grid layout distribution
  ios/RNMagicScript/bridge/AREventsManager.m
  ios/RNMagicScript/components/BaseNodes/TransformNode.swift
  ios/RNMagicScript/components/BaseNodes/UiNode.swift
  ios/RNMagicScript/components/UiNodes/Layouts/GridLayout.swift
  ios/RNMagicScript/components/UiNodes/Toggle/UiToggleGroupNode.swift
  ios/RNMagicScript/components/UiNodes/Toggle/UiToggleNode.swift
  ios/RNMagicScript/components/UiNodes/UiGroupNode.swift
  ios/RNMagicScript/components/UiNodes/UiModelNode.swift
  ios/RNMagicScript/components/UiNodes/UiScrollViewNode.swift
Labels: iOS

#362 Improve drawing scroll bar thumb.
  ios/RNMagicScript/components/UiNodes/UiScrollBarNode.swift
Labels: iOS

#361 debugg option showLayoutBounds
  android/src/main/java/com/magicleap/magicscript/ArViewManager.java
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/ViewWrapper.kt
  android/src/main/res/drawable/debug_bg.xml
Labels: Android

#365 Improve/Layouts refactor and tests
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/GridLayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/HorizontalLinearLayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/LayoutInfo.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/LinearLayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/SizedLayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/VerticalLinearLayoutManager.kt
  android/src/test/java/com/magicleap/magicscript/TestUtils.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/LinearLayoutManagerTest.kt
Labels: Android

#366 #255 - Move tap and longPress functionality to custom gesture recognizers.
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/bridge/ARView/RCTARView.swift
  ios/RNMagicScript/components/UiHelpers/DragGestureRecognizer.swift
  ios/RNMagicScript/components/UiHelpers/LongPressGestureRecognizer.swift
  ios/RNMagicScript/components/UiHelpers/TapGestureRecognizer.swift
  ios/RNMagicScript/components/UiNodeSelector.swift
  ios/RNMagicScript/components/UiNodesManager.swift
  ios/RNMagicScript/components/Utils/Extensions/UIGestureRecognizer+Extension.swift
  ios/RNMagicScript/components/Utils/Math/Ray.swift
  ios/RNMagicScript/components/Utils/Math/RayBuilder.swift
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptTests/sources/misc/CustomUITouch.swift
  ios/RNMagicScriptTests/sources/misc/Mock.generated.swift
  ios/RNMagicScriptTests/sources/specs/UiHelpers/DragGestureRecognizerSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiHelpers/LongPressGestureRecognizerSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiHelpers/TapGestureRecognizerSpec.swift
Labels: iOS

#367 Improve/Pausing media when app paused
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/scene/UiNodesManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/audio/AudioNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/TransformNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/video/VideoNode.kt
  android/src/test/java/com/magicleap/magicscript/ARComponentManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/VideoNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/audio/AudioNodeTest.kt
Labels: Android

#355 Bugfix/toggle group ios
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/components/BaseNodes/LabelNode.swift
  ios/RNMagicScript/components/UiNodes/Group/GroupContainer.swift
  ios/RNMagicScript/components/UiNodes/Group/UiGroupNode.swift
  ios/RNMagicScript/components/UiNodes/Toggle/UiToggleGroupNode.swift
  ios/RNMagicScript/components/UiNodes/Toggle/UiToggleNode.swift
  ios/RNMagicScript/components/UiNodes/UiGroupNode.swift
  ios/RNMagicScript/components/UiNodes/UiImageNode.swift
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/LabelNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Group/GroupContainerSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Group/UiGroupNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Layouts/UiLinearLayoutNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Layouts/UiRectLayoutNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Toggle/UiToggleGroupNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Toggle/UiToggleNodeSpec.swift
Labels: iOS

#368 Extensions tests
  android/src/test/java/com/magicleap/magicscript/utils/ExtensionsKtTest.kt
Labels: Android

#369 Bugfix/#351 dropdown list layout
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/bridge/ARComponentManager.m
  ios/RNMagicScript/bridge/AREventsManager.h
  ios/RNMagicScript/bridge/AREventsManager.m
  ios/RNMagicScript/components/BaseNodes/UiNode.swift
  ios/RNMagicScript/components/UiHelpers/DragGestureRecognizer.swift
  ios/RNMagicScript/components/UiHelpers/LongPressGestureRecognizer.swift
  ios/RNMagicScript/components/UiHelpers/TapGestureRecognizer.swift
  ios/RNMagicScript/components/UiNodes/Group/UiGroupNode.swift
  ios/RNMagicScript/components/UiNodes/Layouts/GridLayout.swift
  ios/RNMagicScript/components/UiNodes/Pickers/UiDatePickerNode.swift
  ios/RNMagicScript/components/UiNodes/Pickers/UiTimePickerNode.swift
  ios/RNMagicScript/components/UiNodes/UiButtonNode.swift
  ios/RNMagicScript/components/UiNodes/UiDropdownList/UiDropdownListItemNode.swift
  ios/RNMagicScript/components/UiNodes/UiDropdownList/UiDropdownListNode.swift
  ios/RNMagicScript/components/UiNodes/UiLabelNode.swift
  ios/RNMagicScript/components/UiNodes/UiSliderNode.swift
  ios/RNMagicScript/components/UiNodes/UiTextEditNode.swift
  ios/RNMagicScript/components/UiNodesManager.swift
  ios/RNMagicScript/components/Utils/Extensions/UIFont+Lomino.swift
  ios/RNMagicScript/components/Utils/NodesFactory.swift
  ios/RNMagicScript/components/Utils/SCNNinePatch.swift
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptResources/Images.xcassets/components/dropdown_list_background.imageset/Contents.json
  ios/RNMagicScriptResources/Images.xcassets/components/dropdown_list_background.imageset/dropdown_list_background.png
  ios/RNMagicScriptResources/Images.xcassets/components/dropdown_list_background.imageset/dropdown_list_background@2x.png
  ios/RNMagicScriptResources/Images.xcassets/components/dropdown_list_background.imageset/dropdown_list_background@3x.png
  ios/RNMagicScriptTests/sources/specs/UiNodes/Dropdown/UiDropdownListItemNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Dropdown/UiDropdownListNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Layouts/GridLayoutSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/UiButtonNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/UiLabelNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/Utils/Extensions/UIFontLominoSpec.swift
  ios/RNMagicScriptTests/sources/specs/Utils/SCNNinePatchSpec.swift
  ios/RNMagicScriptTests/sources/specs/Utils/SCNRectangleSpec.swift
Labels: iOS

#378 Add selected attribute to dropdown item.
  ios/RNMagicScript/components/UiNodes/UiDropdownList/UiDropdownListItemNode.swift
  ios/RNMagicScript/components/UiNodes/UiDropdownList/UiDropdownListNode.swift
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Dropdown/UiDropdownListItemNodeSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/Dropdown/UiDropdownListNodeSpec.swift
Labels: iOS

#372 UiNodesManager tests
  android/src/test/java/com/magicleap/magicscript/scene/UiNodesManagerTest.kt
Labels: Android

#375 Feature/Models animations support
  android/build.gradle
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/ar/CubeRenderableBuilder.kt
  android/src/main/java/com/magicleap/magicscript/ar/CubeRenderableBuilderImpl.kt
  android/src/main/java/com/magicleap/magicscript/ar/LoopedAnimator.kt
  android/src/main/java/com/magicleap/magicscript/ar/ModelRenderableLoader.kt
  android/src/main/java/com/magicleap/magicscript/ar/ModelRenderableLoaderImpl.kt
  android/src/main/java/com/magicleap/magicscript/ar/ModelType.kt
  android/src/main/java/com/magicleap/magicscript/ar/RenderableAnimator.kt
  android/src/main/java/com/magicleap/magicscript/ar/RenderableResult.kt
  android/src/main/java/com/magicleap/magicscript/ar/VideoRenderableLoader.kt
  android/src/main/java/com/magicleap/magicscript/ar/VideoRenderableLoaderImpl.kt
  android/src/main/java/com/magicleap/magicscript/ar/ViewRenderableLoader.kt
  android/src/main/java/com/magicleap/magicscript/ar/ViewRenderableLoaderImpl.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/ModelNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/TransformNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/video/VideoNode.kt
  android/src/main/java/com/magicleap/magicscript/utils/Utils.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/ModelNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/utils/UtilsTest.kt
Labels: Android

#382 Improvement/#318 model animations
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/components/UiNodes/UiModelNode.swift
  ios/RNMagicScriptHostApplication/resources/assets/models/glb/animated.glb
  ios/RNMagicScriptHostApplication/resources/assets/models/glb/hedra_anim.glb
  ios/RNMagicScriptHostApplication/resources/assets/models/glb/static.glb
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/animated.bin
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/animated.gltf
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/hedra_05.gltf
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/hedra_06.gltf
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/maps/animated_gltf_BaseColor.png
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/maps/animated_gltf_Normal.png
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/maps/animated_gltf_Roughness_Metallic.jpg
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/maps/static_gltf_BaseColor.png
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/maps/static_gltf_Normal.png
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/maps/static_gltf_Roughness_Metallic.jpg
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/static.bin
  ios/RNMagicScriptHostApplication/resources/assets/models/gltf/static.gltf
  ios/RNMagicScriptHostApplication/resources/assets/models/obj/maps/hedra_001_BaseColor.png
  ios/RNMagicScriptHostApplication/resources/assets/models/obj/maps/hedra_001_Normal.png
  ios/RNMagicScriptHostApplication/resources/assets/models/obj/maps/static_obj_BaseColor.png
  ios/RNMagicScriptHostApplication/resources/assets/models/obj/maps/static_obj_Normal.png
  ios/RNMagicScriptHostApplication/resources/assets/models/obj/static.mtl
  ios/RNMagicScriptHostApplication/resources/assets/models/obj/static.obj
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptTests/sources/specs/UiNodes/UiModelNodeSpec.swift
Labels: iOS

#391 Improve/Tests update after XR intergration
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/TransformNode.kt
  android/src/test/java/com/magicleap/magicscript/TestUtils.kt
  android/src/test/java/com/magicleap/magicscript/scene/UiNodesManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/base/TransformNodeTest.kt
Labels: Android

#387 Platform (OS name, Version) common interface.
  components/__tests__/platform-information.test.js
  components/platform/platform-information.js
  index.js
  ios/RNMagicScript.xcodeproj/project.pbxproj
Labels: Android, enhancement, iOS

#393 Bugfix/Scale mode fix for images
  android/src/main/res/layout/image.xml
Labels: Android

#395 Improve/Page node fixes
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiButtonNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTabNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomButton.kt
  android/src/main/res/layout/button.xml
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiButtonNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/views/CustomButtonTest.kt
Labels: Android

#396 Improve/Updated scrolbar's properties names
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiScrollBarNode.kt
  android/src/test/java/com/magicleap/magicscript/PropertiesBuilder.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiScrollBarNodeTest.kt
Labels: Android

#390 Set padding alignment per item
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/LayoutUtils.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/PageViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/UiGridLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/UiLinearLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/UiRectLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/GridLayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/HorizontalLinearLayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/SizedLayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/VerticalLinearLayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/params/GridLayoutParams.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/params/LayoutParams.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/params/LinearLayoutParams.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/params/PageViewLayoutParams.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/props/Alignment.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/props/ItemAlignmentMap.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/props/ItemPaddingMap.kt
  android/src/main/java/com/magicleap/magicscript/utils/PropertiesUtils.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/PageViewNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/UIRectLayoutTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/UiGridLayoutTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/UiLinearLayoutTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/GridLayoutManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/HorizontalLinearLayoutManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/LinearLayoutManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/PageViewManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/SizedLayoutManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/VerticalLinearLayoutManagerTest.kt
Labels: Android

#401 Bugfix/Layouts bounds calculation fix
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/SizedLayoutManager.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/HorizontalLinearLayoutManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/manager/VerticalLinearLayoutManagerTest.kt
Labels: Android

#403 Fixed padding/alignment per item in PageView
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/PageViewLayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/VerticalLinearLayoutManager.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/LayoutUtilsTest.kt
Labels: Android

#407 Updated props for GridLayout padding and alignment
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/LayoutUtils.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/PageViewNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/UiGridLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/UiLinearLayout.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/layouts/manager/GridLayoutManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/props/ItemAlignmentMap.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/props/ItemPaddingMap.kt
  android/src/main/java/com/magicleap/magicscript/utils/Extensions.kt
  android/src/main/java/com/magicleap/magicscript/utils/PropertiesUtils.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/layouts/LayoutUtilsTest.kt
  android/src/test/java/com/magicleap/magicscript/utils/ExtensionsKtTest.kt
Labels: Android

#408 Improve/Nodes adjustments on Android
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiColorPickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTabNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/NodeAnimator.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/TransformNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/UiNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/button/UiButtonNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/button/ZAxisAnimator.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/dropdown/DropdownItemsListNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/dropdown/UiDropdownListNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/picker/NativeFilePickerNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/toggle/LinearToggleViewManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/CustomButton.kt
  android/src/test/java/com/magicleap/magicscript/ARComponentManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/PropertiesBuilder.kt
  android/src/test/java/com/magicleap/magicscript/TestUtils.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiButtonNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiCircleConfirmationNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiColorPickerNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiDatePickerNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiTimePickerNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/base/UiDateTimePickerBaseNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/dropdown/UiDropdownListNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/toggle/LinearToggleViewManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/utils/PropertiesUtilsTest.kt
Labels: Android
