Repository magic-script/magic-script-components-react-native, pull requests merged in 2020-05, with the labels that each got.

#583 Improve/Remaining events support on iOS
  ios/RNMagicScript/bridge/ARComponentManager.m
  ios/RNMagicScript/components/BaseNodes/UiNode.swift
Labels: iOS

#584 Bugfix/Rotation precision fix
  android/src/main/java/com/magicleap/magicscript/scene/nodes/base/TransformNode.kt
  android/src/main/java/com/magicleap/magicscript/utils/Extensions.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/base/TransformNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/utils/ExtensionsKtTest.kt
Labels: Android

#585 Improve/Prism improvements
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/Prism.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/PrismContentNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/PrismDragController.kt
Labels: Android

#586 Feature/position and orientation relative to camera support
  android/src/main/java/com/magicleap/magicscript/ar/ArResourcesManager.kt
  android/src/main/java/com/magicleap/magicscript/ar/ArResourcesProvider.kt
  android/src/main/java/com/magicleap/magicscript/ar/SimpleAnchorCreator.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/Prism.kt
  android/src/test/java/com/magicleap/magicscript/ARComponentManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/TestUtils.kt
  android/src/test/java/com/magicleap/magicscript/ar/ArResourcesManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/ReactSceneTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/UiNodesManagerTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/prism/PrismTest.kt
Labels: Android

#588 Feature: Prism custom title
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/Prism.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/PrismMenu.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/prism/PrismTest.kt
Labels: Android, enhancement

#589 #542 - Prism events, properties (iOS).
  components/__tests__/platform-events.test.js
  components/platform/platform-events.js
  ios/RNMagicScript.xcodeproj/project.pbxproj
  ios/RNMagicScript/bridge/ARComponentManager.m
  ios/RNMagicScript/bridge/AREventsManager.h
  ios/RNMagicScript/bridge/AREventsManager.m
  ios/RNMagicScript/components/BaseNodes/Prism/Gestures/Gesturable.swift
  ios/RNMagicScript/components/BaseNodes/Prism/Prism.swift
  ios/RNMagicScript/components/BaseNodes/Prism/PrismContextMenu.swift
  ios/RNMagicScript/components/BaseNodes/Prism/PrismInteractor.swift
  ios/RNMagicScript/components/BaseNodes/Scene/Scene.swift
  ios/RNMagicScript/components/BaseNodes/Scene/SceneInteractor.swift
  ios/RNMagicScript/components/Enums/Interaction.swift
  ios/RNMagicScript/components/Enums/OperationMode.swift
  ios/RNMagicScript/components/UiHelpers/Convert.swift
  ios/RNMagicScript/components/Utils/Extensions/SCNVector3+Extension.swift
  ios/RNMagicScript/components/Utils/Extensions/SCNVector4+Extension.swift
  ios/RNMagicScriptHostApplication/sources/ViewController.swift
  ios/RNMagicScriptTests/sources/misc/Mock.generated.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/PrismInteractorSpec.swift
  ios/RNMagicScriptTests/sources/specs/BaseNodes/PrismSpec.swift
  ios/RNMagicScriptTests/sources/specs/UiHelpers/ConvertSpec.swift
Labels: enhancement, iOS

#590 Prism Interaction - events, properties.
  android/src/main/java/com/magicleap/magicscript/ARComponentManager.java
  android/src/main/java/com/magicleap/magicscript/EventsManager.kt
  android/src/main/java/com/magicleap/magicscript/ReactEventsManager.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/Interactions.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/Prism.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/PrismContentNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/prism/PrismMenu.kt
  android/src/main/java/com/magicleap/magicscript/utils/Extensions.kt
  android/src/main/java/com/magicleap/magicscript/utils/PropertiesUtils.kt
  android/src/test/java/com/magicleap/magicscript/PropertiesBuilder.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/prism/PrismContentNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/prism/PrismTest.kt
Labels: Android, enhancement

#591 Implement [TextEdit] selectedBegin, selectedEnd
  android/src/main/java/com/magicleap/magicscript/scene/nodes/UiTextEditNode.kt
  android/src/main/java/com/magicleap/magicscript/scene/nodes/views/InputDialogBuilder.kt
  android/src/main/res/layout/edit_text_2d.xml
  android/src/main/res/layout/text_edit.xml
  android/src/test/java/com/magicleap/magicscript/PropertiesBuilder.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/UiTextEditNodeTest.kt
  android/src/test/java/com/magicleap/magicscript/scene/nodes/prism/PrismTest.kt
Labels: Android
